    <div class="col-8" id="hobby">
        <p class="display-4 text-center mb-5 text-color" >How much time did you spend today?</p>
        <form class="form-inline d-flex flex-column justify-content-center" method="POST">
            <div class="form-group mb-2">
                <p class="lead text-center">Add to the time spent on your hobby</p>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="timeSegment" placeholder="Time in hours" name="timeSegment">
                <button type="submit" class="btn btn-secondary mx-3">{{type}}</button>
            </div>
        </form>
        
        
    </div>