<div class="col-8" id="hobby">
        <p class="display-4 text-center mb-5 text-color" >Group 6 members</p>
                <p class="text-center mb-2 text-color lead" >Beth Wangui Ndungu -- 654356</p>
                <p class="text-center mb-2 text-color lead" >Brian Nyanchoga -- 651902</p>
                <p class="text-center mb-2 text-color lead" >Franklin Ince otieno -- 651868</p>
                <p class="text-center mb-2 text-color lead" >Michael Waiguru Kariuki -- 654823</p>
                <p class="text-center mb-2 text-color lead" >Cynthia Waichanguru -- 654064</p>
                <p class="text-center mb-2 text-color lead" >Lynette Mbula -- 653886</p>

    </div>