<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Hobby App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    {{{body}}}
    
    {{!-- GOOGLE CHARTS LIBRARY --}}
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/charts.js"></script>
    <script type="application/javascript" src="/js/main.js"></script>
  </body>
</html>